/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env.local
.phpunit.result.cache
*.zip
*.tar.gz
*.sql
*.log
.DS_Store
.next
.idea
.vscode
